
* {
    font-family: sans-serif;
    background-color: rgb(222, 246, 245);
   

}

header{
    
        margin: auto;
        width: 50%;
        border: 3px dashed rgb(43, 141, 110);
        padding: 10px;
        text-align: center;

}

#Start button{
font-size: x-large;    
padding: 10px;
margin: 5px;
border-radius: 5px;
border: none;
color: azure;
background-color: lightseagreen;
}

.question-1 button {   
padding: 10px;
margin: 5px;
border-radius: 5px;
border: none;
color: azure;
background-color: lightseagreen;
   
}

aside{

    margin: auto;
    width: 50%;
    border: 3px dashed rgb(43, 141, 110);
    padding: 10px;
    text-align: center;
}
